a{
    color: #000;
}
.sidebarlink{
    margin-bottom: 20px;
}
.SideBar{
    background-color: #B6D0E2;
    border-radius: 0px 20px 20px 0px;
    height: 100vh;
}
.text-active{
    color: #0c008a;
    font-weight: 700;
}

.SideBar ul{
    list-style: none;
}
.btn, .dropdown-menu{
    margin: 0;
    padding: 0;
}
#dropdownMenuButton:focus{
    border: none;
}
.dropdown-menu ul{
    padding: 5px;
}
.brain{
    display: none;
}
.logoutbtn{
    margin-top: 25rem;
    color: #0c008a;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
    .SideBar{
        border-radius: 0px 20px 20px 0px;
    }
    .sidebaricon{
        font-size: 2rem;
    }
    .nav-pills{
        gap: 9rem;
    }
    .logoutbtn{
        margin-top: auto;
    }
    .text-active{
        color: #0c008a;
        padding: 10px;
        border-bottom: 5px solid  #0c008a;
        font-weight: 700;
    }    
    .brain{
        display: block;
    }
    .logo{
        display: none;
    }
}